body {
    background-color: darkred;
    background-image: url(images/nen-hoa-hong.png);
    font-family: 'Times New Roman', Times, serif;
    background-size: 100%  ;
    background-repeat: no-repeat;
}

#kim-tea-hee{
    display: flex;
    position: absolute;
    margin-top: 1%; 
    height: 95vh;
}
#rose{
    position: absolute;
    display: flex;
    margin-left: 10%;
    margin-top: 35%;
    height: 320px;
}
.container{
    
    width: 100%;
    margin: 50px auto;
    position: relative;
}
.container table{
    position: relative;
}
.first-half{
    margin-left: 27%;
    margin-bottom: 0px;
    width: 60%;  
    display: block;
    border: solid 1px white ;
}
.second-half{
    margin-left: 27%;
    margin-bottom: 0px;
    width: 60%;  
    border: solid 1px white ;
    display: block;
    font-size: 24px;
    text-align: left;
    padding:20px ;
    

}
#title-red{
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: right;
    padding: 10px;
    width: 75%;
}
#subtitle-pink{
    background-color: rgb(255, 179, 223);
    color: red;
    font-size: 42px;
    width: 75%;
}
#logo{
    background-color: rgb(255, 179, 223);
    padding: 20px;
    width: 25%;
}
#logo-image{
    
    display: block;
    max-width: 100%;
}


.second-half tr{
    padding: 20px;
}
.second-half th{
    color: rgb(255, 198, 226);
    width: 50%;
}
.heading {
    list-style-type: none; 
    padding-left: 0; 
    padding-bottom: 0;
    margin-bottom: 0;
    color: red; 
}
li{
    margin-right: 2em;
}
.heading li::before {
    content: '\25A1'; 
    display: inline-block;
    width: 1em; 
    margin-right: 0.5em; /* Adjust the margin as needed for spacing */

}
.highlight{
    font-weight: bold;
    font-style: italic;
}
ul{
    margin-top: 20px;
    margin-bottom:20px;
}
@media (max-width: 600px) {
    #kim-tea-hee, #rose  {
    display: none;
    }
}